{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <style>
     .col-md-4{
        border: 5px solid black;
        border-radius: 10px 10px 10px 10px;
        margin-top: 40px;
        background: white;
        
}
    </style>
    </head>
    <body>
      <div class= "col-md-4 mx-auto">
    <div class="shadow p-5 mb-5 bg-white rounded">
    
    {% block criar_projeto %}
    <h2>{{criar_pj}}</h2> <h2>{{editar_projeto}}</h2>
    <br>
    <form action="" method="POST">
    {% csrf_token %}

    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary ">Entrar</button>
    </form>
    </div>
  
    {% endblock criar_projeto %}
    </body>
</html>