{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static  'css/welcome.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{projectos.titulo}}</h5>
    <p class="card-text">{{projectos.descriçao}}</p>
    <h6 href="#" class="card-link">{{projectos.criador}}</h6>
    <a href="#" class="card-link">Editar</a>
  </div>
</div>
    </body>
</html>