@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
    

body{    
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-attachment:fixed;
  background-position: center top;
  background-size: 100% 100%; 
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

header{
    margin-top: 4px; /* Margem do topo*/
    padding: 1rem 10%; /* Altura da borda*/
    /*position: fixed; /* Fixar */
    top:0; left: 0; right: 0; /* Topo, direita, esquerda */
    display:left;
    /*box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
    justify-content:left; /* Espaço entre os itens*/
    background-color: transparent;
    /*background-image: linear-gradient(to top, #30cfd0 -90%, #330867 40%);*/
}
  
nav {
  display: flex;
  align-items: center;
}
  
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  
  
}

.line {
  width: 25px;
  height: 4px;
  background-color: rgb(255, 252, 252);
  margin: 5px;
  
}

  @media (max-width: 768px) {
    .hamburger-menu {
      display: flex;
    }
    
    .menu {
      display: none;
      flex-direction: column;
      top: 60px;
      left: 0;
      width: 100%;
      background-color:transparent;
      padding: 20px;
    }
    
    .menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .menu li:last-child {
      margin-bottom: 0;
      
    }
    
    .menu li a:link {
      color: white;
      font-size: 18px;
      
    }
    
    .menu.active {
      display: flex;
      
    }
  }
a:link, a:visited, a:active, a , .card-container:hover ,.lista{
  text-decoration: none;
  transition: transform 0.5s ease;
  }
a:hover, .card-container:hover, .lista:hover{text-decoration: underline;
  transform: translateX(8px);
  color: rgb(236, 236, 236);
  border-radius: 20px 20px 20px 20px;
  
  }


li{ 
  float: left ;
  display: block;
  padding: 7px;
  background-color: transparent;
  text-align: justify;
 
  } 

h1,h2, h3, h5, a{
    color:rgb(252, 249, 249);  
}
 a{
    color: white;
}
.container{
    border: 50px solid transparent;   
}
img{
  border-radius: 30px 30px 30px 30px;
}
.card{
  margin-left: 5px;
}
.card-title{
  margin-left: 10px;;
}
.card-text{
  color: white;
  border: solid 30px transparent; 
  margin-left:-20px; 
  margin-top:-40px;
  text-align:left;
}