  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
    

body{    
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-attachment:fixed;
  background-position: center top;
  background-size: 100% 100%; 
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

header{
  margin-top: 1px; /* Margem do topo*/
  padding: 3rem 10%; /* Altura da borda*/
    position: fixed; /* Fixar */
    top:0; left: 0; right: 0; /* Topo, direita, esquerda */
    display:inline-flex;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
    justify-content:left; /* Espaço entre os itens*/
    background: transparent;
    align-items: center;
}
  
nav {
  display: flex;
  align-items: center;
 
}
  

  
a:link, a:visited, a:active {
  text-decoration: none;
  
  }
a:hover, img{text-decoration: underline;
  color: blue;
  font-size:100%;
  background-image: linear-gradient(to bottom right, transparent, transparent);
  border-radius: 30px 30px 30px 30px;
    }

 

li{ 
  float: left ;
  display: block;
  padding: 7px;
  background-color: transparent;
  text-align: justify;
  }

  

h1,h2, h3, h5, a{
    color:rgb(252, 249, 249);
    
   
}
 a{
    color: black;
}
