@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
    



header{
  margin-top: -2px; /* Margem do topo*/
  padding: 0.1rem 7%; /* Altura da borda*/
  position: fixed; /* Fixar */
  top:0; left: 0; right: 0; /* Topo, direita, esquerda */
  display:inline-flex;
  /*box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
  justify-content:left; /* Espaço entre os itens*/
  background-color: transparent;
  align-items: center;
}
  
nav {
  display: flex;
  align-items: center;
}
  

a:link, a:visited, a:active {
  text-decoration: none;
  }
a:hover, img:hover{text-decoration: underline;
  color: rgb(236, 236, 236);
  font-size:100%;
  background-image: linear-gradient(to top, #445974 0%, #537895 100%);
  border-radius: 20px 20px 20px 20px;
  }


li{ 
  float: left ;
  display: block;
  padding: 7px;
  background-color: transparent;
  text-align: justify;
  } 

h1,h2, h3, h5, a{
    color:rgb(252, 249, 249);  
}
 a{
    color: white;
}

.container {
     /* container responsivo abaixo*/
     display: flex;
     top:0; left: 0; right: 0; /* Topo, direita, esquerda */
     display:inline-flex;
     border: solid 20px transparent;
 }
 @media screen and (max-width: 750px) {
     .container {
         max-width: 70%;
     }
 }
img{
  border-radius: 30px 30px 30px 30px;
}
.card{
  margin-left: 5px;
}
.card-title{
  margin-left: 10px;;
}
.card-text{
  color: white;
  border: solid 30px transparent; 
  margin-left:-20px; 
  margin-top:-40px;
  text-align:left;
}
.swal-modal {
  background-color: white;
  margin-top: -310px;
  margin-right:-930px;
  border: 10px solid white;
  width: 270px;
  height: 120px;
}
.swal-text{
  color: black;
}