@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
    
* {
	box-sizing: border-box;
}

body{    
  background-attachment:fixed;
  background-size: 100% 110%; 
  background-image: url("{% static 'imgs/projects.jpeg' %}");
  background-repeat: no-repeat;
}

header{
  margin-top: -1px; /* Margem do topo*/
  padding: 1.5rem 10%; /* Altura da borda*/
  position: fixed; /* Fixar */
  top:0; left: 0; right: 0; /* Topo, direita, esquerda */
  display:inline-flex;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
  justify-content:left; /* Espaço entre os itens*/
  background-color: transparent;
  align-items: center;
}
.col-md-4{
      border: 5px solid black;
      border-radius: 15px 15px 15px 15px;
      margin: auto 0;
      margin-top: 130px;
      text-align: justify;
      background: white;
      align-items: center;
      justify-content: center; /* opcional - para centralizar horizontalmente também */
     /* definir a altura da div pai */
  }
.menu {
list-style: none;
margin: 0;
padding: 0;
}
.menu li {
position: sticky;
}
.menu ul{
position: absolute;
top: 100%;
left: 0;
display: none;
}
.menu li:hover > ul {
display: block;
}
.menu a {
display: block;
padding: 10px;
background-color: transparent;
color: white;
text-decoration: none;
}
.menu a:hover {
background-color: white;
color: blue;
}
.btn-group{
margin-left: 10px;
margin-top: -40px;
 /* Fixar */
}

h5, h6, p{
color: black;
}
form{
margin-left: 20px;
margin-top: -10px;
}
.card{
    width: 225px;
    height: 300px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px 15px 15px 15px;
    margin-top:10px;
}
.card-container{
  display: flex;
  /*O display: flex; cria um contêiner flexível, enquanto justify-content: center; e align-items: center; centralizam o contêiner na página tanto horizontal quanto verticalmente. height: 100vh; define a altura do contêiner como a altura da janela de visualização.*/
}
.sidebar {
margin-left: 1000px;
padding: -0.2rem 10%;
}
.container{
  margin: auto;
  border: solid 7px transparent;
  margin-top: 60px;
 }
.swal-modal {
background-color: white;
margin-top: -310px;
margin-right:-930px;
border: 10px solid white;
width: 270px;
height: 120px;
}
.swal-text{
color: black;
}
.menu-vertical{
background: transparent;
margin-left: 20px;
display: flex;
width:100px;
height:300px;
}