@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
    

body{    
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-attachment:fixed;
  background-position: center top;
  background-size: 100% 100%; 
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
header{
  margin-top: -2px; /* Margem do topo*/
  padding: 0.1rem 10%; /* Altura da borda*/
  position: fixed; /* Fixar */
  top:0; left: 0; right: 0; /* Topo, direita, esquerda */
  display:inline-flex;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
  justify-content:left; /* Espaço entre os itens*/
  background-color: transparent;
  align-items: center;
}
img{
    border-radius: 30px 30px 30px 30px;
  }

.menu {
list-style: none;
margin: 0;
padding: 0;
}
.menu li {
position: sticky;
}
.menu ul{
position: absolute;
top: 100%;
left: 0;
display: none;
}
.menu li:hover > ul {
display: block;
}
.menu a {
display: block;
padding: 10px;
background-color: transparent;
color: white;
text-decoration: none;
}

.btn-group{
margin-left: 10px;
margin-top: -40px;
 /* Fixar */
}
.container{
  border: 40px solid transparent;   
}
h5, h6, p{
color: black;
}
form{
margin-left: 20px;
margin-top: -10px;
}
.sidebar {
margin-left: 1000px;
padding: -0.2rem 10%;
}
.swal-modal {
background-color: white;
margin-top: -310px;
margin-right:-930px;
border: 10px solid white;
width: 270px;
height: 120px;
}
.swal-text{
color: black;
}
.pagination{

margin-top: 90px;
}