{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        
        <!--<link rel="icon" type="image/x-icon" href="imgs/retrato.jpg">-->
        {% block title %}
        <title>Yours Projects</title>
        {% endblock title %}
    <style>
    img{
      margin-right: 60px;
    }
   .container{
    margin: auto;
    border: solid 50px transparent;
    margin-top: 50px;
}
.navbar{
  margin-top: 10px;
}

    </style>
    </head>
    <body>
    <header class="header">
    <nav class="navbar">
    <div class="hamburger-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="menu">
      <li><a href="{% url 'sobre' %}">Sobre Nós</a></li>
      <li><a href="#">Público Alvo</a></li>
      <li><a href="#">Planos</a></li>
      <li ><a href="{% url 'login' %}">Login</a></li>
      </ul>
      
    </nav>
    
    </nav>
    </header>
     <div class="container" >
     <h1>Yours Projects</h1>
     <br>
     <h3 style="text-align:justify">Pensando em dar um up nos seus projetos? Nós da Yours Projects temos
            ferramentas que te auxiliam a alavancar o seu negócio por meio de gerenciamento de processos, com ferramentas
            práticas e acessíveis a qualquer empresa. Vem com a gente!</h3>
    <br>
      <li><div style="text-align:center;">
      <h3 style="margin-right:30px;">Gestão de Projetos</h3>
      <img src="{% static 'imgs/pexels-fauxels-3183183.jpg' %}" alt="" width=300 height="200">
      </div></li>
      <li><div style="text-align:center;">
      <h3 style="margin-right:30px;">Controle de Demandas</h3>
      <img src="{% static 'imgs/pexels-andrea-piacquadio-840996.jpg' %}" alt="" width=300 height="200">
      </div></li>
      <li><div style="text-align:center;">
      <h3 style="margin-right:30px;">Liberdade Geografica</h3>
      <img src="{% static 'imgs/grupodetrabalho.jpg' %}" alt=""  width=300 height="200">
      </div></li>
    
    </div>
    
</body>
    
<script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const menu = document.querySelector('.menu');
    hamburgerMenu.addEventListener('click', () => {
    menu.classList.toggle('active');
    });
</script> 