{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <link rel="icon" type="image/x-icon" href="{%  static 'imgs/projects.jpeg' %}">
        {% block title %}
        <title>Your Projects</title>
        {% endblock title %}
    <style>
   
  
  .container{
    border: 40px solid transparent;   
}

    
    </style>
    </head>
    <body>
    {% block menu %}
    <header class="header">
    <nav class="navbar">
    <div class="hamburger-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="menu">
      <li><a href="#">Sobre Nós</a></li>
      <li><a href="#">Público Alvo</a></li>
      <li><a href="#">Planos</a></li>
      <li ><a href="{% url 'login' %}">Login</a></li>
      </ul>
      
    </nav>
    
    </header>
    {% endblock menu %}
     <div class="container" >
     <h1 style="text-align:center;">Your Projects</h1>
     
     <p style="text-align:justify; color:white; ">Pensando em dar um up nos seus projetos? Nós da Your Projects possuimos
            ferramentas que te auxiliam a alavancar os processos no seu negócio, de forma prática e acessível. Vem com a gente!</p>
    <br>
    
    <li>
    <div class="card" style="width: 18rem;">
    <img src="{% static 'imgs/projects.jpeg' %}"  width=280 height="200" class="card-img" alt="...">
    <div class="card-body">
    <h3 class="card-title">Your Projects</h3>
    <p class="card-text" >Atualize seus projetos e aumente sua produtividade.</p>
    </div>
    </div>
    </li>
  
  
    <li>
    <div class="card" style="width: 18rem;">
    <img src="{% static 'imgs/list.jpeg' %}"   width=280 height="200" class="card-img" alt="...">
    <div class="card-body">
    <h3 class="card-title">Your Lists</h3>
    <p class="card-text">Liste suas demandas, o grande upgrade no trabalho.</p>
    </div>
    </div>
    </li>

    <li>
    <div class="card" style="width: 18rem;">
    <img src="{% static 'imgs/business.jpeg' %}" width=280 height="200" class="card-img" alt="...">
    <div class="card-body">
    <h3 class="card-title">Business</h3>
    <p class="card-text" >Enxergue novas oportunidades para o seu negócio. </p>
    </div>
    </div>
    </li>

 
    <li>
    <div class="card" style="width: 18rem;">
    <img src="{% static 'imgs/chart.jpg' %}" width=280 height="200" class="card-img" alt="...">
    <div class="card-body">
    <h3 class="card-title">Chart of Sales</h3>
    <p class="card-text">Obtenha um gráfico de business intelligence para o seu negócio.</p>
    </div>
    </div>
    </li>
    
    <p style="color:transparent;">..</p>
    
   

    
 
</div>
</body>
    
<script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const menu = document.querySelector('.menu');
    hamburgerMenu.addEventListener('click', () => {
    menu.classList.toggle('active');
    });
</script> 