{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sobre Nós</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    </head>
    <body>

    <div class="container">
    <header class="header">
    <nav class="navbar" >
        <ul>
        <li><a href="{% url 'homepaginas' %}">Home</a></li>
        </ul> 
    </nav>
        
    </header>

    </body>
</html>