{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro Concluído</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
       
    <style>
   .col-md-4{
        border: 5px solid black;
        width: 300px;
        border-radius: 10px 10px 10px 10px;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        background: white;
        
    }
    form{
        color: black;
        text-align: justify;
       
        

    }
    h2{
        color: black;
        text-align: justify;
       
    }
    a{  
        color: black;
        margin-top: 10px;
    }
   
    </style>
    </head>
    <body>

    <div class="container">
    <header class="header">
    <nav class="navbar" >
        <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        </ul> 
    </nav>
        
    </header>
    <div class= "col-md-4 mx-auto">
    <br>
    <h5>Seja Bem-vindo a Yours Projects!</h5>
    <br>
    </div>
    </body>
</html>