{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
       
    <style>
   .col-md-4{
        border: 5px solid black;
        width: 320px;
        border-radius: 10px 10px 10px 10px;
        margin: auto;
        margin-top: 50px;
        text-align: center;
        background: white;
        
    }
    form{
        color: black;
        text-align: justify;
        
        

    }
    h2{
        color: black;
        text-align: justify;
       
    }
    a{  
        color: black;
    
    }
   
    </style>
    </head>
    <body>

    <div class="container">
    <header class="header">
    <nav class="navbar" >
        <ul>
        <li><a href="{% url 'homepaginas' %}">Home</a></li>
        </ul> 
    </nav>
        
    </header>
    
   
    <div class= "col-md-4 mx-auto">
    <div class="shadow p-5 mb-5 bg-white rounded">
    <br>
    {% block login %}
    <h2>Login</h2>
    <br>
    <form action="" method="POST">
    {% csrf_token %}

    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary ">Entrar</button>
    <br>
    <br>
    <a href="{% url 'cadastro-usuario' %}" class="btn btn-primary">Cadastre-se</a>
   
    </form>
    </div>
  
    {% endblock login %}

    </body>
</html>