{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/welcome.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
   .row{
        border: 5px solid black;
        width: 390px;
        border-radius: 10px 10px 10px 10px;
        margin: auto;
        margin-top: 50px;
        text-align: center;
        background: white; 


        
}
    
   
    form{
        color:black;
        text-align: justify;
        margin-left: -30px;
        width: 200px;
        
        
       
    }
    h2{
        color: black;
        text-align: center;
    }
    a{  
        color: black;
    
    }
    </style>
    </head>
    
    <body>
    {% block conteudo %}
    <div class="container">
    <header class="header">
    <nav class="navbar" >
        <ul>
        <li><a href="{% url 'welcome' %}">Início</a></li>
        </ul> 
    </nav>
        
    </header>
    
    
  
    <div class= "row">
    <div class="shadow p-5 mb-5  rounded">
  
    {% block perfil %}
     {% csrf_token %}
    {% if user.perfil.foto_perfil %}
    <img src="{{ user.perfil.foto_perfil.url }}"  alt="Foto" width=150>
    <hr>
    {% else %}
    <img src="" alt="" height=150, width=110>
    {% endif %}
   
    <form action="" method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    
    {{ form|crispy }}
    <hr>
    <button type="submit" class="btn btn-primary ">Atualizar</button>
    
    </form>
    </div>

    
 
  
    {% endblock perfil %}
    {% endblock conteudo %}
    </body>
</html>
{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
$(document).ready(function(){
        $("#id_cpf").mask("000.000.000-00");
        
        // Máscara do telefone abaixo:
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);

        
});    
</script>
{% endblock %}