{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/business.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{%  static 'imgs/projects.jpeg' %}">
    <style>
  
    .navbar{
        margin-top: 10px;
    }

    h2{
        color: black;
        text-align: justify;
       
    }
    a{  
        color: black;
    
    }
    </style>
    </head>
    
    <body>
    {% block conteudo %}
    <div class="container">
    <header class="header">
    <nav class="navbar" >
        <ul>
        <b><li><a href="{% url 'welcome' %}" style="color:white; margin-top:25px;">Início</a></li></b>
        </ul> 
    </nav>
        
    </header>
    
   
    <br>
    <h3 style="text-align:center; margin-top:60px; color:white;">Usuários Ativos</h3>
    
    <br>
    <div style="text-align: center; border-radius: 20px 20px 20px 20px;"  class="table-responsive">
    <table class="table table-hover table"  style="border-radius: 10px 10px 10px 10px;">
        <thead>
            <tr class="table table-hover table-striped ">
                <th style="color:white;">Username</th>
                <th style="color:white;">E-mail</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td style="color:white;">{{ user.username }}</td>
                    <td style="color:white;">{{ user.email }}</td>
            {% empty %}
                    
                </tr>
            
                <tr>
                    <td colspan="2">Nenhum usuário encontrado</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
    </body>
</html>